BODY {
  background-color: #394439;
  font-family: Sans-Serif;
  color:            white; 
  margin: .5em 1em 1em 1em;
  padding: 0px 0px 0px 0px;
}

H1 { 
  font-family: Sans-Serif;
  font-size: 2.5em;
  color: black;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

H2 {
  background-color: #770000;
  padding-left: 25px;
  font-size: 1.4em;
  font-family: Sans-Serif;
  margin-bottom: 0em;
  margin-top: 0em;
}

H3 { 
  font-size: 1.2em;
}

H4 { 
  font-size: 1.0em;
}

P { 
  margin-top: .5em;
  margin-bottom: 1.5em;
}

a:visited { 
  color: #bbbbbb;
}

a:hover { 
  color: white;
}

a { 
  color: red;
}

div.menu 
{ 
  text-align:       left; 
  background-color: black; 
  padding:          0px;
  margin:           0px 2px 0px 2px;
}

div.menu a:visited
{
  color: red;
}

div.menu a:hover
{
  color: white;
  border-width: thin;
}

div.menu a.active
{
  color: white;
  background-color: #DD0000;
}

div.menu a
{
  text-decoration: none;
  font-size: 1.0em;
  font-family: Sans-Serif;
  font-weight: bold;
  text-align: center;

  color: red;  
  background-color: black;
  padding-left: 1em;
  padding-right: 1em;
}

dl.news dd { 
  margin-bottom: 2em;
}

dl.newsbox dd { 
  margin-left: .5em;
}

dl.newsbox { 
  margin-top: 0em;
  margin-bottom: 0em;
}

table.server {
  background-color: #394439;
  font-weight: bold;
}

td.servername{
  background-color: #770000;
  font-weight: bold;
		font-size: 0.9em;
}

td.serverdetails{
  color: #bbbbbb;
  font-weight: none;
		font-size: 10px;
}

td.serverdetailsh{

		font-weight: none;
		font-size: 10px;
}

img.mappic{
  border:2px solid #293429;
}

a:hover img { 
  border-color: red;
}

a img { 
  border-color: darkred;
}

P.answer { 
}

a.joinlink {
	color: #ffffff;
}

a.joinlink:hover {
	color: #770000;
  background-color: white;
}

#force-scrollbar

{

position: absolute;

top: 0;

bottom: -1px;

width: 1em;

z-index: -1;

}

/* EOF */